*{
    padding: 0;
    margin: 0;
}
#game{
    width: 400px;
    height: 620px;
    border: 1px solid black;
    margin: auto;
    overflow: hidden; 
}
#block{
    width: 40px;
    height: 620px;
    background-color: black;
    position: relative;
    left: 400px;
    animation: block 3s infinite linear;
}

#stats{
    background-color: green;
}

@keyframes block{
    0%{left:400px}
    100%{left:-40px}
}
#hole{
    width: 40px;
    height: 250px;
    background-color: green;
    position: relative;
    left: 400px;
    top: -620px;
    animation: block 3s infinite linear;
}
#character{
    width: 40px;
    height: 40px;
    background-color: white;
    position: absolute;
    top: 100px;
    border-radius: 50%;
}

#score{
    margin-left: 40%;
    width: auto;
}