<?xml version='1.0' encoding='utf-8'?>
<widget id="dragomiristeanu.cordova.FlappyBirdDrago" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>FlappyBirdDrago</name>
    <description>The famus Flappy Bird game now with voice tracking!</description>
    <icon src="res/logo.jpg"></icon>
    <author email="sebastiandragomiristeanu@gmail.com" href="https://vallauri.edu">
        Sebastian Dragomiristeanu
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
</widget>
